@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");
.btn-custom1 {
  display: inline-block;
  padding: 12px 25px !important;
  margin: 3px;
  border: none;
  font-weight: 600;
  transition: 0.5s;
}
.btn-custom1:hover {
  background-color: transparent !important;
  color: #fff !important;
  outline: 1px solid #fff !important;
}

.btn-custom1 {
  background: #0345e8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #fff !important;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  overflow-y: hidden;
  height: 100vh;
  scroll-behavior: smooth;
}

.navbar {
  background-color: #011851 !important;
}
.navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar .social-media {
  font-size: 18px;
  color: #fff;
  transition: 0.5 ease;
}
.navbar .social-media i:hover {
  color: #00eaff;
}

#showcase-home {
  height: 100vh;
  background-color: #011851;
}
#showcase-home .mobile-image {
  width: 15px;
  height: 150px;
  display: none;
}
#showcase-home .row {
  height: 55vh;
}
#showcase-home .row a {
  font-size: 12px;
  padding: 9px 16px;
  text-decoration: none !important;
}
#showcase-home .row .col-lg-6 .introduction {
  font-weight: 800;
  font-size: 3.5rem;
  overflow-y: hidden;
}

#showcase-about {
  height: auto;
  background-color: #fff;
  position: relative;
  z-index: 3;
  color: #011851;
}
#showcase-about h1 {
  font-size: 2.5rem;
  font-weight: 300;
}
#showcase-about .row {
  min-height: 75vh;
}
#showcase-about .row p {
  line-height: 2em;
  letter-spacing: 0.2em;
  transform: translateX(17%);
}
#showcase-about .row .about-picture img {
  width: 75%;
  height: 80%;
  border-radius: 50%;
  transform: translate(-10%, -20%);
}

#showcase-skills {
  height: 100vh;
  background-color: #fff;
  position: relative;
  z-index: 1;
  color: #011851;
}
#showcase-skills h1 {
  font-size: 2.5rem;
  font-weight: 300;
}
#showcase-skills img {
  width: 50px;
}
#showcase-skills span {
  font-size: 14px;
  margin-top: 10px;
  font-weight: bold;
  color: #011851;
}
#showcase-skills .skill:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#showcase-work {
  height: auto;
  background-color: #fff;
  position: relative;
  z-index: 1;
  background: #011851;
}
#showcase-work h1 {
  font-size: 2.5rem;
  font-weight: 300;
}
#showcase-work #myTab li button {
  color: #fff;
}
#showcase-work #myTab li button.active {
  font-weight: bold;
  color: #011851;
}
#showcase-work #myTab li button:hover {
  border-color: transparent;
}
#showcase-work #myTabContent .row .col-md-4 img {
  width: 100%;
}
#showcase-work #myTabContent .row .col-md-6 video {
  width: 100%;
}

#showcase-education {
  height: 100vh;
  background-color: #fff;
  position: relative;
  z-index: 1;
  color: #011851;
}
#showcase-education h1 {
  font-size: 2.5rem;
  font-weight: 300;
}
#showcase-education img {
  width: 100%;
  height: 281px;
  margin-top: 60px;
  border: 2px solid #d4102e;
  margin-left: 26%;
}
#showcase-education h5 {
  margin-top: 50px;
}
#showcase-education h5 .fa-medal {
  color: #011851;
}
#showcase-education h5 .fas, #showcase-education h5 .far {
  color: #011851;
}
#showcase-education h5:first-child {
  margin-left: -5px;
}
#showcase-education h5:first-of-type {
  margin-top: 0;
}

#showcase-education-mobile {
  display: none;
}

#showcase-contact {
  height: auto;
  background-color: #011851;
  color: #fff;
  position: relative;
  z-index: 1;
}
#showcase-contact h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

footer {
  text-align: center;
  color: #011851;
  background: #fff;
  padding: 20px;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 20000;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow: hidden;
}
.overlay .hello {
  height: 1px;
  width: 1px;
  transition: 0.5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #011851;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: hidden;
  color: #fff;
  z-index: 10;
}
.overlay .hello h1 {
  padding: 10px;
  overflow: hidden;
}
.overlay .hello h1 span {
  font-size: 20px;
  font-weight: 800;
  opacity: 0;
}

@media (max-width: 768px) {
  .toggle-education {
    display: none !important;
  }

  .toggle-education-mobile {
    display: block !important;
  }

  #showcase-home {
    height: auto;
    background-color: #011851;
    text-align: center;
    overflow-x: hidden;
  }
  #showcase-home .mobile-image {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-top: 10%;
  }
  #showcase-home .mobile-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  #showcase-home .row {
    height: 100%;
  }
  #showcase-home .row .col-sm-12 {
    padding: 0.5rem !important;
  }
  #showcase-home .row .col-sm-12 .introduction {
    font-weight: 800;
    font-size: 21px;
    padding: 0 !important;
    margin-top: 0 !important;
  }
  #showcase-home .row .col-sm-12 a {
    font-size: 12px;
    padding: 9px 16px !important;
    text-decoration: none !important;
  }
  #showcase-home .row img {
    display: none;
  }

  #showcase-about {
    padding: 29px !important;
    height: auto;
    overflow-x: hidden;
  }
  #showcase-about h1 {
    font-size: 21px !important;
    margin-bottom: 0;
  }
  #showcase-about .row {
    min-height: 0;
  }
  #showcase-about .row .col-sm-12 {
    padding: 10px !important;
  }
  #showcase-about .row .col-sm-12 p {
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
    transform: translateX(0);
  }
  #showcase-about .row .about-picture {
    display: none !important;
  }
  #showcase-about .row .about-picture img {
    display: none;
  }

  #showcase-skills {
    overflow-x: hidden;
    height: auto;
    padding: 29px !important;
  }
  #showcase-skills h1 {
    font-size: 21px;
    margin-bottom: 0;
  }

  #showcase-work {
    padding: 29px !important;
    overflow-x: hidden;
    height: auto;
  }
  #showcase-work h1 {
    font-size: 21px;
    margin-bottom: 0;
  }
  #showcase-work p {
    font-size: 12px;
    margin-top: 10px;
  }
  #showcase-work #myTab {
    margin-top: 20px;
  }
  #showcase-work #myTab li button {
    color: #fff;
    font-size: 12px;
  }
  #showcase-work #myTab li button.active {
    font-weight: bold;
    color: red;
  }
  #showcase-work #myTab li button:hover {
    border-color: transparent;
  }
  #showcase-work small {
    font-size: 12px;
  }

  #showcase-education {
    display: none;
  }

  #showcase-education-mobile {
    height: auto;
    display: block;
    overflow-x: hidden;
  }
  #showcase-education-mobile h1 {
    margin-top: 0 !important;
    font-size: 21px;
    margin-bottom: 0;
  }
  #showcase-education-mobile img {
    width: 100%;
    height: 281px;
    margin-top: 60px;
    border: 2px solid #d4102e;
    object-fit: cover;
  }
  #showcase-education-mobile h5 {
    margin-top: 10px;
    font-size: 12px;
  }
  #showcase-education-mobile h5 .fa-medal {
    color: #011851;
  }
  #showcase-education-mobile h5 .fas, #showcase-education-mobile h5 .far {
    color: #011851;
  }
  #showcase-education-mobile h5:first-child {
    margin-left: -2px;
  }
  #showcase-education-mobile h5:first-of-type {
    margin-top: 0;
  }

  #showcase-contact {
    overflow-x: hidden;
    height: auto;
    padding-top: 3rem !important;
  }
  #showcase-contact h1 {
    margin-top: 0 !important;
    font-size: 21px;
    margin-bottom: 0;
  }
  #showcase-contact h5 {
    font-size: 12px;
  }

  footer {
    font-size: 12px;
  }

  .overlay {
    overflow: hidden;
  }
  .overlay .hello {
    text-align: center;
  }
  .overlay .hello h1 {
    padding: 0;
  }
  .overlay .hello h1 span {
    font-size: 20px;
    font-weight: 800;
    opacity: 0;
  }
}
@media (max-width: 425px) {
  #showcase-about {
    padding: 29px !important;
    height: auto;
    overflow-x: hidden;
  }
  #showcase-about h1 {
    padding-top: 25% !important;
    margin-top: 0 !important;
    font-size: 21px !important;
    margin-bottom: 0;
  }

  #showcase-skills {
    padding: 29px 50px 50px 50px !important;
    height: auto;
    overflow-x: hidden;
  }
  #showcase-skills h1 {
    padding-top: 25% !important;
    font-size: 21px !important;
    margin-bottom: 0;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #showcase-home .home-picture {
    width: 100% !important;
    margin-top: 5%;
  }

  #showcase-about p {
    font-size: 13px !important;
    transform: translateX(17%);
  }
  #showcase-about .about-picture img {
    width: 100%;
    height: 80%;
    border-radius: 50%;
  }

  #showcase-skills {
    height: 110vh;
  }

  #showcase-education h5 {
    font-size: 14px !important;
  }
}
@media (min-width: 1440px) {
  #showcase-home .intro {
    padding-left: 6rem !important;
  }
  #showcase-home .home-picture {
    width: 80% !important;
    margin-top: 3%;
  }

  #showcase-about p {
    font-size: 14px !important;
    line-height: 3rem !important;
    transform: translateX(10%);
  }
  #showcase-about .about-picture img {
    width: 75%;
    height: 80%;
    border-radius: 50%;
    transform: translate(-10%, -20%);
  }
}

/*# sourceMappingURL=style.css.map */
