@import 'partials/config';
@import 'partials/buttons';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

a {
	color: #fff !important;
}

body {
	font-size: 16px;
	font-family: $font-stack;
	overflow-y: hidden;
	height: 100vh;
	scroll-behavior: smooth;
}


		.navbar {
			background-color: $primary-color !important;

			.navbar-brand {
				font-size: 1.5rem;
				font-weight: bold;
			}

			.social-media {
				font-size: 18px;
				color: #fff;
				transition: 0.5 ease;

				i:hover {
					color: $secondary-color;
				}
			}
		}


		#showcase-home {
			height: 100vh;
			background-color: $primary-color;

			.mobile-image {
				width: 15px;
				height: 150px;
				display: none;

			}

			.row {
				height: 55vh;

				a {
					font-size: 12px;
					padding: 9px 16px;
					text-decoration: none !important;
				}

				.col-lg-6 {
					.introduction {
						font-weight: 800;
						font-size: 3.5rem;
						overflow-y: hidden;
					}
				}

			}

		}

		#showcase-about {
			height: auto;
			background-color: #fff;
			position:relative;
			z-index: 3;
			color: $primary-color;

			h1 {
				font-size: 2.5rem;
				font-weight: 300;
			}

			.row {

				min-height: 75vh;

				p {
					line-height: 2em;
					letter-spacing: 0.2em;
					transform: translateX(17%);
				}

				.about-picture {

					img {
						width: 75%;
						height: 80%;
						border-radius: 50%;
						transform: translate(-10%, -20%);
					}

				}
			}
		}


		#showcase-skills {
			height: 100vh;
			background-color: #fff;
			position:relative;
			z-index: 1;
			color: $primary-color;

			h1 {
				font-size: 2.5rem;
				font-weight: 300;
			}

			img {
				width: 50px;
			}

			span {
				font-size: 14px;
				margin-top: 10px;
				font-weight: bold;
				color: $primary-color;
			}


			.skill:hover {
				transform: scale(1.1);
				cursor: pointer;
			}
			
		}




		#showcase-work {
			height: auto;
			background-color: #fff;
			position:relative;
			z-index: 1;
			background: $primary-color;

			h1 {
				font-size: 2.5rem;
				font-weight: 300;
			}

			#myTab {

				li {

					button {

						color: #fff;

						&.active {

						font-weight: bold;
						color: $primary-color;

						}

						&:hover {
							border-color: transparent;
						}

					}

				}

			}

			#myTabContent {

				.row {

					.col-md-4 {

						img {
							width: 100%;
						}

					}

					.col-md-6 {

						video {
							width: 100%;
						}

					}

				}

			}

			
			
		}


		#showcase-education {
			height: 100vh;
			background-color: #fff;
			position:relative;
			z-index: 1;
			color: $primary-color;

			h1 {
				font-size: 2.5rem;
				font-weight: 300;
			}

			img {
				width: 100%;
				height: 281px;
			    margin-top: 60px;
			    border: 2px solid #d4102e;
			    margin-left: 26%;
			}



			h5	{
				margin-top: 50px;

				.fa-medal {
					color: $primary-color;
				}

				.fas, .far {
					color: $primary-color;
				}
			}

			h5:first-child {
				margin-left: -5px;
			}
			

			h5:first-of-type {
				margin-top: 0;
			}

			
		}

		#showcase-education-mobile {
			display: none;
		}



		#showcase-contact {
		height: auto;
		background-color: $primary-color;
		color: #fff;
		position:relative;
		z-index: 1;

			h1 {
				font-size: 2.5rem;
				font-weight: 300;
			}
		}

		footer {
			text-align: center;
			color: $primary-color;
			background:#fff;
		
			padding: 20px;
		}

		.overlay {
			width: 100%;
			height: 100vh;
			position: fixed;
			z-index: 20000;
			top: 0;
			left: 0;
			background-color: #fff;
			overflow: hidden;

			.hello {
   				height: 1px;
    			width: 1px;
    			transition: 0.5s ease-out;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: $primary-color;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				text-align: center;
				overflow: hidden;
				color: #fff;
				z-index: 10;

				h1 {

					padding: 10px;
					overflow: hidden;

					span {
						font-size: 20px;
						font-weight: 800;
						opacity: 0;
					}


				}


			}

		}


		@import 'partials/mobile';


