%btn {
	display: inline-block;
	padding: 12px 25px !important;
	margin: 3px;
	border: none;
	font-weight: 600;
	transition: 0.5s;

	&:hover {
		background-color: transparent !important;
		color: #fff !important;
		outline: 1px solid #fff !important;
	}
}



.btn-custom1 {
	@extend %btn;
	background: lighten($primary-color, 30%);
}