@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

$font-stack: 'Open Sans', sans-serif;
$primary-color: #011851;
$secondary-color: #00eaff;;
$shadow: 0 1px 3px rgb(0 0 0 / 10%);